/AboutActivity$$ViewInjector.java
/AutoStartManageActivity$$ViewInjector.java
/MainActivity$$ViewInjector.java
/MemoryCleanActivity$$ViewInjector.java
/RubbishCleanActivity$$ViewInjector.java
/ShortCutActivity$$ViewInjector.java
/SoftwareManageActivity$$ViewInjector.java
